.uk-navbar-nav > li > a,
.uk-navbar-container .uk-navbar-item:not(.uk-logo),
.uk-navbar-container .uk-navbar-toggle {
    height: 70px;
    font-size: 13px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #023c6c;
}

.uk-navbar-container .uk-navbar-nav > li > a {
    position: relative;
}

.uk-navbar-container .uk-navbar-nav > li > a::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 20px;
    height: 1px;
    background-color: currentColor;
    transition: .3s ease-in-out;
    transition-property: right;
}

.uk-navbar-container .uk-navbar-nav > li > a:hover::before {
    right: 15px;
}

.uk-nav > li.uk-active > a {
    position: relative;
}

.uk-nav > li.uk-active > a:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -25px;
    width: 15px;
    border-top: 1px solid #1e87f0
}

.uk-nav .uk-nav-header {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5
}

.uk-navbar-transparent a {
    color: white !important;
}

.uk-background-primary,
.uk-section-primary,
.uk-card-primary {
    background-color: #005DAA;
}

.uk-navbar-container .uk-navbar-nav > li > a {
    position: relative;
    color: rgba(255, 255, 255);
    font-size: .875rem;
}

.uk-navbar-container .uk-navbar-nav > li > a:hover {
    position: relative;
    color: white;
}

.uk-navbar-container .uk-navbar-nav > li.uk-active > a {
    position: relative;
    color: rgba(255, 255, 255, 1);
}

.uk-nav .uk-nav-header {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
}


/* General button style (reset) */

.btn {
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.4em;
    background: none;
    cursor: pointer;
    padding: 2px 25px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;

    /*
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
*/
    letter-spacing: 1px;
    font-weight: 700px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Pseudo elements for icons */

.btn:before {
    /*	font-family: 'icomoon';*/
    speak: none;
    font-style: normal;
    font-weight: inherit;
    font-variant: normal;
    text-transform: none;
    /*	line-height: 1;*/
    position: relative;
    /*	-webkit-font-smoothing: antialiased;*/
}

/* Button 1 */

.btn-1 {
    border: 2px solid #fff;
    border-radius: 10px;

}

/* Button 1a */

.btn-1a:hover {
    color: #005DAA !important;
    background: #fff;
    border: 2px solid #fff;
    text-decoration: none;
}

.uk-card-secondary.uk-card-hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.uk-card-secondary.uk-card-hover:hover {
    /*    background-color: #005DAA;*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.uk-card-primary.uk-card-hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.uk-card-primary.uk-card-hover:hover {
    background-color: #005DAA;
    box-shadow: 0 14px 25px rgba(0, 0, 0, .16);
}

.uk-link,
a {
    color: #063992;
}


.uk-link:hover,
a:hover {
    color: #000;
}

.uk-card-default {
    color: #555;
}

@media (min-width:960px) {
    .uk-countdown-number {
        font-size: 4rem
    }
}

p {
    color: #333;
}

.container {
    position: relative;
    width: 33%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 95%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

[class*=" imghvr-"] figcaption,
[class^="imghvr-"] figcaption {
    background-color: rgb(0, 0, 0, 0.7);
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}
